@import '../../../../../styles/mixins/flex.scss';
@import '../../../../../styles/mixins/container.scss';
@import '../../../../../styles/mixins/media.scss';

.block {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -4.47%, #1c1c1c 100%);
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  @include b(tablet) {
    background: none;
    margin-bottom: 40px;
  }

  &_inner {
    @include flex(row, center, center, nowrap);
    @include container;
    @include b(tablet) {
      flex-wrap: wrap-reverse;
    }
  }

  @include b(mobile) {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.left {
  @include b(tablet) {
    width: 100%;
    @include flex(column, center, center);
  }
}

.right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  padding: 25px;
  @include b(tablet) {
    margin-bottom: 25px;
    padding: 0px;
  }
}

.mint {
  background-color: #fd7d48;
  font-family: 'FORT';
  color: #fff;
  font-size: 48px;
  padding: 25px 55px;
  margin-bottom: 40px;
  div {
    max-height: 35px;
  }
  @include b(mobile) {
    margin-bottom: 20px;
  }
  @include b(extramobile) {
    width: 100%;
    font-size: 40px;
  }
}

.subtitle {
  line-height: 1.5;
}

.nft {
  img {
    max-width: 100%;
  }
}

.info {
  text-align: left;
  flex-grow: 1;
  display: none;
  @include b(mobile) {
    display: block;
  }
}

.title {
  font-weight: 600;
  font-size: 60px;
  font-family: 'FORT';
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 1.5;
}
