@import './fonts';
@import './themes';
@import './reset';

body {
  font-family: 'MSR', sans-serif;
  font-weight: 400;

  background: var(--main-bg);
  color: var(--main-color);
}

.center {
  display: flex;
  justify-content: center;
}
