@import '../../../../../styles/mixins/media.scss';

.section {
  padding: 120px;
  &_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include b(mobile) {
    padding: 0 15px;
    padding-bottom: 75px;
  }
}

.title {
  font-family: 'FORT';
  font-size: 70px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  @include b(mobile) {
    font-size: 50px;
  }
}

.faqs {
  margin-top: 80px;
  @include b(mobile) {
    margin-top: 40px;
  }
}

.item {
  cursor: pointer;
  overflow: hidden;
  padding: 20px 30px;
  background: #efb340;
  border-radius: 20px;
  transition: 0.4s linear;
  max-width: 1000px;
  @include b(mobile) {
    max-width: 100%;
  }
  & + & {
    margin-top: 10px;
  }
  &_title {
    font-family: 'FORT';
    font-size: 40px;
    @include b(mobile) {
      font-size: 35px;
    }
  }
  &_subtitle {
    max-height: 0px;
    opacity: 0;
    font-size: 20px;
    line-height: 1.3;
    transition: 0.4s ease;
    font-weight: 400;
    &.active {
      margin-top: 10px;
      opacity: 1;
      max-height: 500px;
    }
  }
}
