@import '../../../styles/mixins/container.scss';
@import '../../../styles/mixins/media.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  &_inner {
    max-width: 1130px;
    padding: 0 15px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include b(extramobile) {
      padding: 10px;
      justify-content: center;
    }
  }

  @include b(extramobile) {
    position: relative;
    padding: 0;
  }
}

.logo {
  flex-grow: 1;
  img {
    @include b(extramobile) {
      width: 43px;
      height: 43px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
  @include b(extramobile) {
    display: none;
  }
  .link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }
}

.connect {
  font-weight: 600;
  font-size: 24px;
  background-color: #fd7d48;
  font-family: 'FORT';
  text-transform: uppercase;
  padding: 16px;
}
