@import '../../../../styles/mixins/media.scss';

.block {
  background: url('../../../../assets/img/sections/landing/first-block-presale/bg1.png') 0 0
      no-repeat,
    #7876b1;
  background-size: cover;
  color: #333333;
  height: calc(100vh + 114px);

  @include b(mobile) {
    height: 100%;
  }
}

.block_inner {
  height: 100vh;
  position: relative;
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  @include b(mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
  }
  @include b(mobile) {
    height: auto;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 45%;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0%, #1c1c1c 100%);
    }
  }
}
// test
.left {
  position: relative;
}

.right {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @include b(mobile) {
    align-items: center;
  }
  @include b(extramobile) {
    display: block;
  }
  &_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

.devil {
  position: absolute;
  top: 140px;
  left: 270px;
  transform: translateX(50%);
  @include b(tablet) {
    display: none;
  }
  @include b(mobile) {
    display: block;
    top: 0;
    left: 95%;
    transform: translateX(-90%);
    img {
      width: 120px;
    }
  }
}

.light {
  position: absolute;
  bottom: 50px;
  left: 50px;
  @include b(mobile) {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 200px;
    }
  }
}

.cosmo {
  position: absolute;
  bottom: -50px;
  left: -150px;
  @include b(mobile) {
    top: 55px;
    left: -20px;
    img {
      width: 150px;
    }
  }
}

.title {
  font-family: 'FORT';
  color: #fff;
  text-align: right;
  font-weight: 600;
  font-size: 102px;
  line-height: 0.9;
  color: #1a1917;
  text-shadow: 0px 3.71658px 11.1497px rgba(0, 0, 0, 0.25);
  span {
    color: #a30116;
  }
  span.white {
    color: #fff;
  }
  @include b(mobile) {
    max-width: 100%;
    text-align: left;
  }
  @include b(extramobile) {
    font-size: 80px;
  }
}

.title_left {
  font-family: 'FORT';
  color: #fff;
  font-size: 65px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 3.71658px 11.1497px rgba(0, 0, 0, 0.25);
  text-align: right;
  margin-right: 28px;
  align-self: flex-end;
  line-height: 0.9;
  div {
    color: #1a1917;
    font-size: 55px;
  }

  position: relative;
  right: -60px;
  top: -5px;
  @include b(mobile) {
    top: -10px;
    left: 0;
    font-size: 61px;
    margin-right: 15px;
    div {
      font-size: 45px;
    }
  }
  @include b(extramobile) {
    font-size: 50px;
    div {
      font-size: 35px;
    }
  }
}

.subtitle {
  font-size: 17px;
  color: #333333;
  line-height: 1.5;
  text-align: right;
  max-width: 310px;
  margin-bottom: 25px;
  @include b(mobile) {
    color: #fff;
    text-align: left;
    max-width: 100%;
    font-size: 15px;
  }
}

.mint_subtitle {
  margin-top: 20px;
  font-size: 17px;
  @include b(mobile) {
    color: #fff;
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;
  }
}
